<div class="jumbotron center">
	<h1>
		<div class="markerfont">
			Welcome to my super cool App!
		</div>
	</h1>

	<%= link_to "Log In", "#", class:"btn btn-primary btn-lg"%>
	<%= link_to "Sign Up", "#", class:"btn btn-success btn-lg"%>


</div>